<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">NomPac</th>
            <th scope="col">Edad</th>
            <th scope="col">EmailPac</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paciente of pacientes; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{paciente.nomPac}}</td>
            <td>{{paciente.Edad}}</td>
            <td>{{paciente.EmailPac}}</td>
            <td><button type="button" class="btn btn-danger" (click)="eliminarPaciente(paciente.idPac)">Eliminar</button></td>
        </tr>
    </tbody>
</table>
